

/* -- header -- */
.header .logo {
	margin-top: 5px;
}

/* -- menu -- */
.sidebar-left .sidebar-header .sidebar-title {
	color: #FFF;
}



/* -- defaults -- */
.modal .modal-lg {
	min-width: 1100px;
}
.modal .modal-md {
	min-width: 900px;
}


/* -- tables -- */
.stats-table tr td {
	color: #000;
}

/* -- forms -- */
form.validate label > i {
	font-style: normal;
	color: #F00;
}
div select + .btn-group > .btn {
	text-align: left;
}
div select + .btn-group > .btn > span {
	width: 97%;
	display: inline-block;
}

/* -- elements -- */
.clr-red		{ color: red; }
.clr-green		{ color: green; }
.clr-white		{ color: white; }

.fnt-b		{ font-weight: bold; }
.fnt-i		{ font-style: italic; }

.width-15 { width: 15px; }
.width-20 { width: 20px; }
.width-25 { width: 25px; }
.width-50 { width: 50px; }
.width-75 { width: 75px; }
.width-100 { width: 100px; }
.width-125 { width: 125px; }
.width-150 { width: 150px; }
.width-175 { width: 175px; }
.width-200 { width: 200px; }
.width-225 { width: 225px; }
.width-250 { width: 250px; }
.width-275 { width: 275px; }
.width-300 { width: 300px; }
.width-325 { width: 325px; }
.width-350 { width: 350px; }
.width-375 { width: 375px; }
.width-400 { width: 400px; }
.width-425 { width: 425px; }
.width-450 { width: 450px; }
.width-475 { width: 475px; }
.width-500 { width: 500px; }

.lh-20		{ line-height: 20px; }
.lh-25		{ line-height: 25px; }
.lh-30		{ line-height: 30px; }
.lh-35		{ line-height: 35px; }
.lh-40		{ line-height: 40px; }
.lh-45		{ line-height: 45px; }
.lh-50		{ line-height: 50px; }
.lh-55		{ line-height: 55px; }
.lh-60		{ line-height: 60px; }
.lh-65		{ line-height: 65px; }

.fnt-s-10	{ font-size: 10px; }
.fnt-s-12	{ font-size: 12px; }
.fnt-s-14	{ font-size: 14px; }
.fnt-s-16	{ font-size: 16px; }
.fnt-s-18	{ font-size: 18px; }
.fnt-s-20	{ font-size: 20px; }
.fnt-s-22	{ font-size: 22px; }
.fnt-s-24	{ font-size: 24px; }
.fnt-s-26	{ font-size: 26px; }
.fnt-s-28	{ font-size: 28px; }
.fnt-s-30	{ font-size: 30px; }
.fnt-s-32	{ font-size: 32px; }
.fnt-s-34	{ font-size: 34px; }
.fnt-s-36	{ font-size: 36px; }
.fnt-s-38	{ font-size: 38px; }
.fnt-s-40	{ font-size: 40px; }
.fnt-s-42	{ font-size: 42px; }
.fnt-s-44	{ font-size: 44px; }
.fnt-s-46	{ font-size: 46px; }
.fnt-s-48	{ font-size: 48px; }
.fnt-s-50	{ font-size: 50px; }
.fnt-s-60	{ font-size: 60px; }
.fnt-s-70	{ font-size: 70px; }
.fnt-s-80	{ font-size: 80px; }
.fnt-s-90	{ font-size: 90px; }
.fnt-s-100	{ font-size: 100px; }

.pad-10 		{ padding: 5px; }

.is-hidden		{ display: none; }

.bdr-btm-dotted	{ border-bottom: dotted 1px #CCC; }

.img-sm			{ height: 30px; }
.img-maxh-100 img	{ max-height: 100px; }

.no-padding		{ padding: 0; }
.no-margin		{ margin: 0; }

.bdr-grey		{ border: solid 1px #CCC; }

.bg-aliceblue 		{background-color: #F0F8FF; }
.bg-antiquewhite 	{background-color: #FAEBD7; }
.bg-aqua 			{background-color: #00FFFF; }
.bg-aquamarine 		{background-color: #7FFFD4; }
.bg-azure 			{background-color: #F0FFFF; }
.bg-beige 			{background-color: #F5F5DC; }
.bg-bisque 			{background-color: #FFE4C4; }
.bg-black 			{background-color: #000000; }
.bg-blanchedalmond 		{background-color: #FFEBCD; }
.bg-blue 				{background-color: #0000FF; }
.bg-blueviolet 			{background-color: #8A2BE2; }
.bg-brown 				{background-color: #A52A2A; }
.bg-burlywood 			{background-color: #DEB887; }
.bg-cadetblue 			{background-color: #5F9EA0; }
.bg-chartreuse 			{background-color: #7FFF00; }
.bg-chocolate 			{background-color: #D2691E; }
.bg-coral 				{background-color: #FF7F50; }
.bg-cornflowerblue 		{background-color: #6495ED; }
.bg-cornsilk 			{background-color: #FFF8DC; }
.bg-crimson 			{background-color: #DC143C; }
.bg-cyan 				{background-color: #00FFFF; }
.bg-darkblue 			{background-color: #00008B; }
.bg-darkcyan 			{background-color: #008B8B; }
.bg-darkgoldenrod 		{background-color: #B8860B; }
.bg-darkgray 			{background-color: #A9A9A9; }
.bg-darkgrey 			{background-color: #A9A9A9; }
.bg-darkgreen 			{background-color: #006400; }
.bg-darkkhaki 			{background-color: #BDB76B; }
.bg-darkmagenta 		{background-color: #8B008B; }
.bg-darkolivegreen 		{background-color: #556B2F; }
.bg-darkorange 			{background-color: #FF8C00; }
.bg-darkorchid 			{background-color: #9932CC; }
.bg-darkred 			{background-color: #8B0000; }
.bg-darksalmon 			{background-color: #E9967A; }
.bg-darkseagreen 		{background-color: #8FBC8F; }
.bg-darkslateblue 		{background-color: #483D8B; }
.bg-darkslategray 		{background-color: #2F4F4F; }
.bg-darkslategrey 		{background-color: #2F4F4F; }
.bg-darkturquoise 		{background-color: #00CED1; }
.bg-darkviolet 			{background-color: #9400D3; }
.bg-deeppink 			{background-color: #FF1493; }
.bg-deepskyblue 		{background-color: #00BFFF; }
.bg-dimgray 			{background-color: #696969; }
.bg-dimgrey 			{background-color: #696969; }
.bg-dodgerblue 			{background-color: #1E90FF; }
.bg-firebrick 			{background-color: #B22222; }
.bg-floralwhite 		{background-color: #FFFAF0; }
.bg-forestgreen 		{background-color: #228B22; }
.bg-fuchsia 			{background-color: #FF00FF; }
.bg-gainsboro 			{background-color: #DCDCDC; }
.bg-ghostwhite 			{background-color: #F8F8FF; }
.bg-gold 			{background-color: #FFD700; }
.bg-goldenrod 		{background-color: #DAA520; }
.bg-gray 			{background-color: #808080; }
.bg-grey 			{background-color: #808080; }
.bg-green 			{background-color: #008000; }
.bg-greenyellow 	{background-color: #ADFF2F; }
.bg-honeydew 		{background-color: #F0FFF0; }
.bg-hotpink 		{background-color: #FF69B4; }
.bg-indianred  		{background-color: #CD5C5C; }
.bg-indigo  		{background-color: #4B0082; }
.bg-ivory 			{background-color: #FFFFF0; }
.bg-khaki 			{background-color: #F0E68C; }
.bg-lavender 			{background-color: #E6E6FA; }
.bg-lavenderblush 		{background-color: #FFF0F5; }
.bg-lawngreen 			{background-color: #7CFC00; }
.bg-lemonchiffon 		{background-color: #FFFACD; }
.bg-lightblue 			{background-color: #ADD8E6; }
.bg-lightcoral 			{background-color: #F08080; }
.bg-lightcyan 			{background-color: #E0FFFF; }
.bg-lightgoldenrodyellow 	{background-color: #FAFAD2; }
.bg-lightgray 			{background-color: #D3D3D3; }
.bg-lightgrey 			{background-color: #D3D3D3; }
.bg-lightgreen 			{background-color: #90EE90; }
.bg-lightpink 			{background-color: #FFB6C1; }
.bg-lightsalmon 	{background-color: #FFA07A; }
.bg-lightseagreen 	{background-color: #20B2AA; }
.bg-lightskyblue 	{background-color: #87CEFA; }
.bg-lightslategray 	{background-color: #778899; }
.bg-lightslategrey 	{background-color: #778899; }
.bg-lightsteelblue 	{background-color: #B0C4DE; }
.bg-lightyellow 	{background-color: #FFFFE0; }
.bg-lime 			{background-color: #00FF00; }
.bg-limegreen 		{background-color: #32CD32; }
.bg-linen 			{background-color: #FAF0E6; }
.bg-magenta 		{background-color: #FF00FF; }
.bg-maroon 			{background-color: #800000; }
.bg-mediumaquamarine 	{background-color: #66CDAA; }
.bg-mediumblue 			{background-color: #0000CD; }
.bg-mediumorchid 		{background-color: #BA55D3; }
.bg-mediumpurple 		{background-color: #9370DB; }
.bg-mediumseagreen 		{background-color: #3CB371; }
.bg-mediumslateblue 	{background-color: #7B68EE; }
.bg-mediumspringgreen 	{background-color: #00FA9A; }
.bg-mediumturquoise 	{background-color: #48D1CC; }
.bg-mediumvioletred 	{background-color: #C71585; }
.bg-midnightblue 	{background-color: #191970; }
.bg-mintcream 		{background-color: #F5FFFA; }
.bg-mistyrose 		{background-color: #FFE4E1; }
.bg-moccasin 		{background-color: #FFE4B5; }
.bg-navajowhite 	{background-color: #FFDEAD; }
.bg-navy 			{background-color: #000080; }
.bg-oldlace 		{background-color: #FDF5E6; }
.bg-olive 			{background-color: #808000; }
.bg-olivedrab 		{background-color: #6B8E23; }
.bg-orange 			{background-color: #FFA500; }
.bg-orangered 		{background-color: #FF4500; }
.bg-orchid 			{background-color: #DA70D6; }
.bg-palegoldenrod 	{background-color: #EEE8AA; }
.bg-palegreen 		{background-color: #98FB98; }
.bg-paleturquoise 	{background-color: #AFEEEE; }
.bg-palevioletred 	{background-color: #DB7093; }
.bg-papayawhip 		{background-color: #FFEFD5; }
.bg-peachpuff 		{background-color: #FFDAB9; }
.bg-peru 			{background-color: #CD853F; }
.bg-pink 			{background-color: #FFC0CB; }
.bg-plum 			{background-color: #DDA0DD; }
.bg-powderblue 		{background-color: #B0E0E6; }
.bg-purple 			{background-color: #800080; }
.bg-rebeccapurple 	{background-color: #663399; }
.bg-red 			{background-color: #FF0000; }
.bg-rosybrown 		{background-color: #BC8F8F; }
.bg-royalblue 		{background-color: #4169E1; }
.bg-saddlebrown 	{background-color: #8B4513; }
.bg-salmon 			{background-color: #FA8072; }
.bg-sandybrown 		{background-color: #F4A460; }
.bg-seagreen 		{background-color: #2E8B57; }
.bg-seashell 		{background-color: #FFF5EE; }
.bg-sienna 			{background-color: #A0522D; }
.bg-silver 			{background-color: #C0C0C0; }
.bg-skyblue 		{background-color: #87CEEB; }
.bg-slateblue 		{background-color: #6A5ACD; }
.bg-slategray 		{background-color: #708090; }
.bg-slategrey 		{background-color: #708090; }
.bg-snow 			{background-color: #FFFAFA; }
.bg-springgreen 	{background-color: #00FF7F; }
.bg-steelblue 		{background-color: #4682B4; }
.bg-tan 			{background-color: #D2B48C; }
.bg-teal 			{background-color: #008080; }
.bg-thistle 		{background-color: #D8BFD8; }
.bg-tomato 			{background-color: #FF6347; }
.bg-turquoise 		{background-color: #40E0D0; }
.bg-violet 			{background-color: #EE82EE; }
.bg-wheat 			{background-color: #F5DEB3; }
.bg-white 			{background-color: #FFFFFF; }
.bg-whitesmoke 		{background-color: #F5F5F5; }
.bg-yellow 			{background-color: #FFFF00; }
.bg-yellowgreen		{background-color: #9ACD32; }


/* -- fixes -- */
.datepicker {
	z-index: 9999;
}


.well-sm {
	padding: 9px;
	border-radius: 3px;
	width: 100%;
	float: left;
}
.w-50{
	width: 49%;
	margin-left: 1%;
	display: inline-block;
}
.group-headings{
	width: 100%;
	display: flex;
}
.group-heading {
	width: 49%;
	margin-left: 2%;
	display: inline;
	font-size: 18px;
	padding-bottom: 5px;
}
.w-100{
	width: 100%;
}
.sort-cnt{
	min-height: 10px;
}
.sort-table{
	width: 100%;
	display: table;
	height: 100%;
}
.sort-table-cell{
	height: 100%;
	display: table;
}
.main-parameters{
	margin-bottom: 16px;
}
.m-r-10{
	margin-right: 10px;
}

/* Loader */
.modal {
    display:    none;
    position:   fixed;
    z-index:    99999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/* User Details page roles boxes */
.roles-box{
	border: 1px solid #ccc;
	border-radius: 10px;
}
.roles-title{
	font-weight: bold;
}