<span style='color: #000'>209 frames</span>	<span style='color: #900'>12,032 KB</span>	<span style='color: #090'>237.48 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />